In [1]:
import pandas as pd
import numpy as np
import itertools
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer
from sklearn import metrics
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('D:\zzKoding\Data Sains - Machine Learning - AI\Lomba\Satria Data 2020\Data\Salinan Data Latih BDC.xlsx')
df.head(10)

,ID,label,tanggal,judul,narasi,nama file gambar
0,71,1,2020-08-17 00:00:00,Pemakaian Masker Menyebabkan Penyakit Legionna...,A caller to a radio talk show recently shared ...,71.jpg
1,461,1,2020-07-17 00:00:00,Instruksi Gubernur Jateng tentang penilangan ...,Yth.Seluruh Anggota Grup Sesuai Instruksi Gube...,461.png
2,495,1,2020-07-13 00:00:00,Foto Jim Rohn: Jokowi adalah presiden terbaik ...,Jokowi adalah presiden terbaik dlm sejarah ban...,495.png
3,550,1,2020-07-08 00:00:00,"ini bukan politik, tapi kenyataan Pak Jokowi b...","Maaf Mas2 dan Mbak2, ini bukan politik, tapi k...",550.png
4,681,1,2020-06-24 00:00:00,Foto Kadrun kalo lihat foto ini panas dingin,Kadrun kalo lihat foto ini panas dingin . .,681.jpg
5,736,1,2020-06-17 00:00:00,event promo smartphone JNE 2020 spesial di bul...,"selamat siang teman teman fb ku semuanyaü§©,cuma...",736.png
6,1161,1,2020-05-05 00:00:00,MEREKA SUDAH MEMPERSIAPKAN DIRI DENGAN BAIK UN...,LIHATLAH MEREKA SUDAH MEMPERSIAPKAN DIRI DENGA...,1161.png
7,1597,1,2020-03-24 00:00:00,Foto Presiden Italia menangis karena tak cukup...,Italia punya fasilitas perawatan kesehatan ter...,1597.png
8,2098,1,2020-01-09 00:00:00,"Kapolres Timor Tengah Utara , Nusa Tenggara Ti...",Polisi goblok. Bukanya cpet‚Äù d tolongin malah ...,2098.jpg
9,2226,1,2019-12-24 00:00:00,Video Polisi china telah menganiaya wanita uig...,Polisi china telah menganiaya wanita uighur le...,2226.png

In [3]:
df.shape
df = df.drop(['tanggal', 'nama file gambar'], axis=1)
df.head(10)

,ID,label,judul,narasi
0,71,1,Pemakaian Masker Menyebabkan Penyakit Legionna...,A caller to a radio talk show recently shared ...
1,461,1,Instruksi Gubernur Jateng tentang penilangan ...,Yth.Seluruh Anggota Grup Sesuai Instruksi Gube...
2,495,1,Foto Jim Rohn: Jokowi adalah presiden terbaik ...,Jokowi adalah presiden terbaik dlm sejarah ban...
3,550,1,"ini bukan politik, tapi kenyataan Pak Jokowi b...","Maaf Mas2 dan Mbak2, ini bukan politik, tapi k..."
4,681,1,Foto Kadrun kalo lihat foto ini panas dingin,Kadrun kalo lihat foto ini panas dingin . .
5,736,1,event promo smartphone JNE 2020 spesial di bul...,"selamat siang teman teman fb ku semuanyaü§©,cuma..."
6,1161,1,MEREKA SUDAH MEMPERSIAPKAN DIRI DENGAN BAIK UN...,LIHATLAH MEREKA SUDAH MEMPERSIAPKAN DIRI DENGA...
7,1597,1,Foto Presiden Italia menangis karena tak cukup...,Italia punya fasilitas perawatan kesehatan ter...
8,2098,1,"Kapolres Timor Tengah Utara , Nusa Tenggara Ti...",Polisi goblok. Bukanya cpet‚Äù d tolongin malah ...
9,2226,1,Video Polisi china telah menganiaya wanita uig...,Polisi china telah menganiaya wanita uighur le...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4231 entries, 0 to 4230
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      4231 non-null   int64
 1   label   4231 non-null   int64
 2   judul   4231 non-null   object
 3   narasi  4231 non-null   object
dtypes: int64(2), object(2)
memory usage: 132.3+ KB

In [5]:
df['label'].value_counts()

1    3465
0     766
Name: label, dtype: int64

In [6]:
df['total']=df['judul'] + ' ' + df['narasi']
df.head()

,ID,label,judul,narasi,total
0,71,1,Pemakaian Masker Menyebabkan Penyakit Legionna...,A caller to a radio talk show recently shared ...,Pemakaian Masker Menyebabkan Penyakit Legionna...
1,461,1,Instruksi Gubernur Jateng tentang penilangan ...,Yth.Seluruh Anggota Grup Sesuai Instruksi Gube...,Instruksi Gubernur Jateng tentang penilangan ...
2,495,1,Foto Jim Rohn: Jokowi adalah presiden terbaik ...,Jokowi adalah presiden terbaik dlm sejarah ban...,Foto Jim Rohn: Jokowi adalah presiden terbaik ...
3,550,1,"ini bukan politik, tapi kenyataan Pak Jokowi b...","Maaf Mas2 dan Mbak2, ini bukan politik, tapi k...","ini bukan politik, tapi kenyataan Pak Jokowi b..."
4,681,1,Foto Kadrun kalo lihat foto ini panas dingin,Kadrun kalo lihat foto ini panas dingin . .,Foto Kadrun kalo lihat foto ini panas dingin K...

In [7]:
df_t = pd.read_excel('D:\zzKoding\Data Sains - Machine Learning - AI\Lomba\Satria Data 2020\Data\Data Uji BDC.xlsx')
df_t.head()

,ID,tanggal,judul,narasi,nama file gambar,label
0,238057,2020-07-13 00:00:00,Narasi Tito Karnavian Berideologi Komunis Kare...,TITO KARNIVAN ITU BERIDIOLOGI KOMUNIS DIA BISA...,238057.jpg,1
1,238158,2020-07-06 00:00:00,Anies: Seberat beratnya Pekerjaan Akan terasa ...,Seberat beratnya Pekerjaan Akan terasa ringan ...,238158.jpg,1
2,238865,2020-04-22 00:00:00,Hindu di india Melemparkan Patung Buatan Merek...,Hindu di india melemparkan patung buatan merek...,238865.jpg,1
3,248298,2019-10-22 00:00:00,RSCM Praktekkan Penyedotan Plug Vena/Saluran ...,Mulai Hari ini di RSCM mulai diPraktekkan Peny...,248298.jpg,1
4,255176,2020-05-01 00:00:00,Permohonan Kelonggaran Angsuran ke OJK,"Untuk sekedar info, Bagi anda yg punya ansuran...",255176.jpg,1

In [8]:
df_t['total']=df_t['judul'] + ' ' + df_t['narasi']
df_t = df_t.drop(['tanggal', 'nama file gambar'], axis=1)
df_t.head()

,ID,judul,narasi,label,total
0,238057,Narasi Tito Karnavian Berideologi Komunis Kare...,TITO KARNIVAN ITU BERIDIOLOGI KOMUNIS DIA BISA...,1,Narasi Tito Karnavian Berideologi Komunis Kare...
1,238158,Anies: Seberat beratnya Pekerjaan Akan terasa ...,Seberat beratnya Pekerjaan Akan terasa ringan ...,1,Anies: Seberat beratnya Pekerjaan Akan terasa ...
2,238865,Hindu di india Melemparkan Patung Buatan Merek...,Hindu di india melemparkan patung buatan merek...,1,Hindu di india Melemparkan Patung Buatan Merek...
3,248298,RSCM Praktekkan Penyedotan Plug Vena/Saluran ...,Mulai Hari ini di RSCM mulai diPraktekkan Peny...,1,RSCM Praktekkan Penyedotan Plug Vena/Saluran ...
4,255176,Permohonan Kelonggaran Angsuran ke OJK,"Untuk sekedar info, Bagi anda yg punya ansuran...",1,Permohonan Kelonggaran Angsuran ke OJK Untuk s...

In [9]:
import nltk
import re
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk import sent_tokenize, word_tokenize

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>
[nltk_data] Error loading punkt: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

In [10]:
from nltk.corpus import stopwords
# ----------------------- get stopword from NLTK stopword -------------------------------
# get stopword indonesia
list_stopwords = stopwords.words('indonesian')
stop_words = list_stopwords

In [11]:
def HiSed(df, perintah, stop_words):
    if perintah == 'sederhana':
        df_return = pd.DataFrame()
    elif perintah == 'hitung':
        dfCounts_return = dict()
        
    for index, row in df.iterrows():
        filter_sentence = ''
        sentence = row['total']
        # Cleaning dengan regular expression
        sentence = re.sub(r'[^\w\s]', '', sentence)
        # Tokenization
        words = nltk.word_tokenize(sentence)
        # Menghilangkan stopwords
        words = [w for w in words if not w in stop_words]
        if perintah == 'sederhana':
            # Lower case
            for words in words:
                filter_sentence = filter_sentence  + ' ' + words.lower()
            df_return.loc[index, 'total'] = filter_sentence
        elif perintah == 'hitung':
            for word in words:
                if word.lower() in dfCounts_return:
                    dfCounts_return[word.lower()] += 1
                else:
                    dfCounts_return[word.lower()] = 1
            
    if perintah == 'sederhana':
        return df_return
    elif perintah == 'hitung':
        return dfCounts_return

In [12]:
dict_kata_train = HiSed(df, 'hitung', stop_words)

In [15]:
df_kata_train = pd.DataFrame({'kata':[x for x, y in dict_kata_train.items()], 
                              "jumlah":[y for x, y in dict_kata_train.items()]})
df_kata_train.sort_values(by=['jumlah'], inplace=True, ascending=False)
df_kata_train = df_kata_train.reset_index(drop=True)

In [21]:
df_kata_train.head(10)

        kata  jumlah
0         yg     802
1  indonesia     749
2     jokowi     580
3         di     577
4       foto     495
5      orang     453
6      video     432
7     corona     399
8      virus     383
9        ini     352

In [30]:
dict_kata_test = HiSed(df_t, 'hitung', stop_words)

In [38]:
df_kata_test = pd.DataFrame({'kata':[x for x, y in dict_kata_test.items() if x not in dict_kata_train], 
                             "jumlah":[y for x, y in dict_kata_test.items() if x not in dict_kata_train]})
df_kata_test.sort_values(by=['jumlah'], inplace=True, ascending=False)
df_kata_test = df_kata_test.reset_index(drop=True)

In [40]:
print(len(df_kata_test))
df_kata_test.head(10)

1356

         kata  jumlah
0        ruah       6
1        vote       5
2  bersaudara       5
3         pop       5
4       puput       4
5     buntung       4
6   minoritas       4
7   floridina       4
8        psis       4
9         spa       4

In [24]:
# df_kata_train.to_excel('D:\jumlah_kata_train.xlsx', index=False)

In [41]:
df_kata_test.to_excel('D:\jumlah_kata_test.xlsx', index=False)